.corpo {
    display: flex;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    align-items: center;
    margin: 50px 10vw 0px 10vw;
}

:root {
    --bordaCurva: 5px;
    --roxoEscuro: #812FCD;
    --roxoClarinho: #D8C4EC;
    --roxoClaroFundo: #EEDDFD;
    --tamanhoLetraDestaque: min(32px, 19vh);
    --letraMedia: min(16px, 30vh);
}

#div_header {
    position: relative;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    background-color: var(--roxoClarinho);
    min-width: 50vw;
    padding: 2rem 2rem;
    border-radius: var(--bordaCurva);
    /* box-shadow: 2px 2px 8px #ab8ccf; */
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
    margin-bottom: 10vh;
}

.container p {
    margin-left: 15px;
    font-size: min(16px, 30vh);
}

.destaque_txt {
    font-size: var(--tamanhoLetraDestaque);
    font-weight: 100;
    text-align: center;
}

.campos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

#linha {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.campo {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.campo input {
    padding: 10px;
    border-radius: 1vh;
    outline: 0 solid transparent;
    border: 0;
    width: 20vw;
    background-color: var(--roxoClaroFundo);
}

.campo select {
    padding: 10px;
    border-radius: 1vh;
    outline: 0 solid transparent;
    border: 0;
    width: 21.5vw;
    background-color: var(--roxoClaroFundo);
}

.select_tipo select option {
    width: 20vw;
    background-color: var(--roxoClaroFundo);
    font-family: "Poppins", sans-serif;
}

.select_tipo select {
    border-radius: 5px;
    width: 20vw;
    margin: 10px;
    padding: 10px;
    border: 0;
    width: 21.5vw;
    cursor: pointer;
    background-color: var(--roxoClaroFundo);
}

#bt_cadastrar_funcionario {
    background-color: var(--roxoEscuro);
    color: #fff;
    padding: 4px;
    min-width: 10vw;
    border-radius: 5px;
    border: 2px;
    border-style: groove;
    border-color: var(--roxoEscuro);
    text-align: center;
    margin-top: 2vh;
    margin-bottom: 2vh;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: min(15px, 30vh);
}

#bt_cadastrar_funcionario:hover {
    cursor: pointer;
    background-color: #812fcd00;
    color: #812FCD;
    transition: 0.8s;
}

footer {
    background-color: #D8C4EC;
    bottom: 0;
    left: 0;
    width: 100%;
    /* position: fixed; */
}

.alerta_erro {
    display: flex;
    justify-content: flex-end;
}

.card_erro {
    display: none;
    background-color: #d8c4ec;
    color: rgb(0, 0, 0);
    width: 250px;
    height: 200px;
    position: fixed;
    border-radius: 1vw;
    /* border: #111011 3px solid; */
    padding: 10px;
    margin-right: 20px;
    margin-top: 5px;
}

.card_erro #mensagem_erro {
    font-weight: 500;
    font-size: 20px;
}

@media only screen and (max-width: 912px) {
    #linha {
        display: flex;
        flex-direction: column;
    }

    .destaque_txt {
        font-size: 20px;
    }
    .container p {
        margin-left: 0px;
        font-size: 14px;
    }
    .campo input {
        padding: 10px;
        border-radius: 1vh;
        outline: 0 solid transparent;
        border: 0;
        width: 60vw;
    }

    #bt_cadastrar_funcionario {
        min-width: 30vw;
        font-size: 11px;
    }
    footer {
        margin-top: 20px;
        position: relative;
    }

    .select_tipo select {
        width: auto;
        font-size: 11px;
    }
}