.corpo {
    display: flex;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    align-items: center;
    margin: 50px 10vw 0px 10vw;
}

:root {
    --bordaCurva: 5px;
    --roxoEscuro: #812FCD;
    --roxoClarinho: #D8C4EC;
    --roxoClaroFundo: #EEDDFD;
    --tamanhoLetraDestaque: min(32px, 19vh);
    --letraMedia: min(16px, 30vh);
}

#div_header {
    position: relative;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    background-color: var(--roxoClarinho);
    min-width: 50vw;
    padding: 2rem 2rem;
    border-radius: var(--bordaCurva);
    /* box-shadow: 2px 2px 8px #ab8ccf; */
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
}

.container p {
    margin-left: 15px;
    font-size: min(16px, 30vh);
}

.destaque_txt {
    font-size: var(--tamanhoLetraDestaque);
    font-weight: 100;
    text-align: center;
}

.caixa-formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#dados_principais {
    margin-bottom: 15px;
}

#dados_principais b {
    padding-left: 10px;
    font-size: min(17px, 30vh);
    font-weight: 700;
    color: var(--roxoEscuro);
}

#endereco b {
    padding-left: 10px;
    font-size: min(17px, 30vh);
    font-weight: 700;
    color: var(--roxoEscuro);
}

.linha {
    display: flex;
    flex-direction: row;
}

.campo {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.campo input {
    padding: 10px;
    border-radius: 1vh;
    outline: 0 solid transparent;
    border: 0;
    width: 20vw;
    background-color: var(--roxoClaroFundo);
}

#logradouro_empresa {
    width: 43vw;
}

#bt_cadastrar {
    background-color: var(--roxoEscuro);
    color: #fff;
    padding: 4px;
    min-width: 10vw;
    border-radius: 5px;
    border: 2px;
    border-style: groove;
    border-color: var(--roxoEscuro);
    text-align: center;
    margin-top: 2vh;
    margin-bottom: 2vh;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: min(15px, 30vh);
}

#bt_cadastrar:hover {
    cursor: pointer;
    background-color: #812fcd00;
    color: #812FCD;
    transition: 0.8s;
}

#div_tem_conta {
    font-weight: 400;
    font-size: min(15px, 28vh);
}

#div_tem_conta a {
    color: var(--roxoEscuro);
}

.alerta_erro{
    display: flex;
    justify-content: flex-end;
  }
  
  .card_erro {
    display: none;
    background-color: #d8c4ec;
    color: rgb(0, 0, 0);
    width: 250px;
    height: 200px;
    position: fixed;
    border-radius: 1vw;
    /* border: #111011 3px solid; */
 padding: 10px; 
    margin-right: 20px;
    margin-top: 5px;
  }
  
  .card_erro #mensagem_erro{
    font-weight: 500;
    font-size: 20px;
  }

@media only screen and (max-width: 912px) {
    .linha {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }
    /* ------------------------------------------------------ */
    .destaque_txt {
        font-size: 25px;
    }
    .container p {
        margin-left: 0px;
        font-size: 14px;
    }
    #dados_principais b {
        font-size: 13px;
    }
    #endereco b {
        font-size: 13px;
    }
    #div_tem_conta {
        font-size: 12px;
    }
    /* ------------------------------------------------------ */
    .campo input {
        padding: 10px;
        border-radius: 1vh;
        border: 0;
        width: 60vw;
    }
    #bt_cadastrar {
        min-width: 30vw;
        font-size: 11px;
    }
}