

.corpo {
    display: flex;
    justify-content: center;
    font-family: poppins;
    align-items: center;
    margin-top: 25vh;
    margin-bottom: 60px;

}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-width: 60vh;
    height: 40vh;
    padding: 2rem 4rem;
    background-color: #D8C4EC;
    border-radius: 2vh;
    box-shadow: 2px 2px 10px #ab8ccf;


}

.destaque_txt {
    font-size: 190%;
    font-weight: 450;
    margin-bottom: 1.5rem;
}


.caixa-formulario {
    display: flex;
    justify-content: center;
    align-items: center;


}


.campo {
    display: flex;
    flex-direction: column;
    padding: 10px;



}

.campo input {
    padding: 10px;
    border-radius: 1vh;
    outline: 0 solid transparent;
    border: 0;
    width: 20vw;
}

#bt_cadastrar {
    background-color: #812FCD;
    color: #fff;
    padding: 10px;
    min-width: 10vw;
    border-radius: 5px;
    border: 2px;
    border-style: groove;
    border-color: #812FCD;
    text-align: center;
    margin-top: 2vh;
}

#bt_cadastrar:hover {
    cursor: pointer;
    background-color: #812fcd00;
    color: #812FCD;
    transition: 0.8s;
}

footer {
    background-color: #D8C4EC;
    bottom: 0;
    left: 0;
    height: 70px;
    position: fixed;
    width: 100%;

}

footer h3 {
    font-size: 100%;
    margin-left: 43%;
    font-weight: 450;
}



@media only screen and (max-width: 912px) {
    .corpo {
        justify-content: center;

    }

    .container {
        flex-direction: column;
        align-items: center;
        min-width: 10vh;
        height: 60vh;
        padding: 2rem 1rem;
        background-color: #D8C4EC;
        border-radius: 2vh;
        box-shadow: 2px 2px 10px #ab8ccf;


    }

    .destaque_txt {
        font-size: 190%;
        font-weight: 440;
        margin-bottom: 1.0rem;
    }


    .caixa-formulario {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;


    }


    .campo {
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    .campo input {
        padding: 10px;
        border-radius: 1vh;
        outline: 0 solid transparent;
        border: 0;
        width: 60vw;
    }

    #bt_cadastrar {
        background-color: #812FCD;
        color: #fff;
        padding: 10px;
        min-width: 30vw;

    }
    
    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #D8C4EC;
        bottom: 0;
        left: 0;
        height: 70px;
        width: 100%;
        position: relative;
    
    }
    
    footer h3 {
        font-size: 100%;
        margin-left: 43%;
        font-weight: 450;
    }
}