/* .header {} */

:root {
    --bordaCurva: 5px;
    --roxoEscuro: #812FCD;
    --roxoClarinho: #D8C4EC;
    --roxoClaroFundo: #EEDDFD;
    --tamanhoLetraDestaque: min(32px, 19vh);
    --letraMedia: min(16px, 30vh);
}

#div_principal_login {
    display: flex;
    /* talvez precise mudar */
    padding: 3rem 0 0 0;
    justify-content: space-between;
    align-items: center;
    margin: 0px 13vw 0px 13vw;
}

#div_img_login img {
    width: min(600px, 75vh);
}

.moldura {
    background-color: #d8c4ec;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: var(--bordaCurva);
    /* box-shadow: 2px 2px 10px#ab8ccf; */
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
    min-width: 23vw;
    /* justify-content: center; */
}

.moldura a {
    color: #812FCD;
}

.destaque_txt {
    font-size: var(--tamanhoLetraDestaque);
    font-weight: 100;
}

#campo1_login {
    margin-bottom: 1rem;
}

.campo input {
    /* box-shadow: 2px 2px 10px #ab8ccf; */
    padding: 10px;
    border-radius: 1vh;
    outline: 0 solid transparent;
    border: 0;
    width: 20vw;
    background-color: #EEDDFD;
}

#botao_login {
    margin: 1.5rem 0 0.75rem 0;
}

#botao_login button {
    background-color: #812FCD;
    color: #fff;
    min-width: 7vw;
    border-radius: 5px;
    border: 2px;
    border-style: groove;
    border-color: #812FCD;
    text-align: center;
    font-family: "Poppins", sans-serif;
    padding: 4px;
    font-size: min(16px, 32vh);
    font-weight: 550;
    cursor: pointer;
}

#botao_login button:hover {
    background-color: #812fcd00;
    color: #812FCD;
    transition: 0.8s;
}

.txt_2 {
    font-size: min(15px, 28vh);
    font-weight: 400;
}

#div_esq_senha {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

#div_esq_senha a {
    text-decoration: none;
}

#div_txt_cadastrar {
    min-width: 20vw;
    font-weight: 400;
}

footer {
    background-color: #D8C4EC;
    bottom: 0;
    left: 0;
    width: 100%;
    position: fixed;
}

@media only screen and (max-width: 1100px) {
    #div_img_login img {
        width: min(400px, 70vw);
    }
    #div_principal_login {
        justify-content: center;
    }
}

@media only screen and (max-width: 976px) {
    .destaque_txt {
        font-size: 25px;
    }
    #botao_login {
        font-size: 11px;
    }
    .txt_2 {
        font-size: 12px;
    }
    #div_img_login {
        display: none;
    }
    .campo input {
        padding: 10px;
        border-radius: 1vh;
        border: 0;
        width: 50vw;
    }
    #botao_login button {
        min-width: 30vw;
        font-size: 11px;
    }
}