/* .header {} */

:root {
    --bordaCurva: 5px;
    --roxoEscuro: #812FCD;
    --roxoClarinho: #D8C4EC;
    --roxoClaroFundo: #EEDDFD;
    --tamanhoLetraDestaque: min(32px, 19vh);
    
    /* para usar no font-weigth */
    --letraLight: 300;
    --letraRegular: 400;
    --letraMedia: 500;
    --letraSemiBold: 600;
}

#div_principal_login {
    display: flex;
    /* talvez precise mudar */
    padding: 3rem 0 0 0;
    justify-content: center;
    align-items: center;
    margin: 0px 13vw 0px 13vw;
}

#div_img_login img {
    width: min(600px, 75vh);
}

.moldura {
    background-color: #d8c4ec;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: var(--bordaCurva);
    /* box-shadow: 2px 2px 10px#ab8ccf; */
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
    min-width: 23vw;
    /* justify-content: center; */
}

.moldura a {
    color: #812FCD;
}

.destaque_txt {
    font-size: var(--tamanhoLetraDestaque);
    font-weight: 100;
}

#campo1_login {
    margin-bottom: 1rem;
}

.campo{
    display: flex;
    flex-direction: column;
}

#div_campos .campo input {
    padding: 5px;
    border-radius: 1vh;
    border: 1px solid black;
    width: 25vw;
    font-family: "Poppins", sans-serif;
    background-color: #EEDDFD;
}

#div_campos .campo label {
    font-family: "Poppins", sans-serif;
    margin-bottom: 6px;
    font-size: 14px;
    font-weight: var(--letraMedia);
}

#botao_login {
    margin: 1.5rem 0 0.75rem 0;
}

#botao_login button {
    background-color: #812FCD;
    color: #fff;
    min-width: 7vw;
    border-radius: 5px;
    border: 2px;
    border-style: groove;
    border-color: #812FCD;
    text-align: center;
    font-family: "Poppins", sans-serif;
    padding: 4px;
    font-size: min(16px, 32vh);
    font-weight: 550;
    cursor: pointer;
}

#botao_login button:hover {
    background-color: #812fcd00;
    color: #812FCD;
    transition: 0.8s;
}

.txt_2 {
    font-size: min(15px, 28vh);
    font-weight: 400;
}

#div_esq_senha {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

#div_esq_senha a {
    text-decoration: none;
}

#div_txt_cadastrar {
    min-width: 20vw;
    font-weight: 400;
}
#div_moldura_login p {
    font-size: (15px, 30vh);
}

footer {
    background-color: #D8C4EC;
    bottom: 0;
    left: 0;
    width: 100%;
    position: fixed;
}


.alerta_erro{
    display: flex;
    justify-content: flex-end;
  }
  
  .card_erro {
    display: none;
    background-color: #d8c4ec;
    color: rgb(0, 0, 0);
    width: 250px;
    height: 200px;
    position: fixed;
    border-radius: 1vw;
    /* border: #111011 3px solid; */
    padding: 10px; 
    margin-right: 20px;
    /* margin-top: 5px; */
  }
  
  .card_erro #mensagem_erro{
    font-weight: 500;
    font-size: 20px;
  }


@media only screen and (max-width: 1100px) {
    #div_img_login img {
        width: min(400px, 70vw);
    }
    #div_principal_login {
        justify-content: center;
    }
}

@media only screen and (max-width: 976px) {
    .destaque_txt {
        font-size: 25px;
    }
    #botao_login {
        font-size: 11px;
    }
    .txt_2 {
        font-size: 12px;
    }
    #div_moldura_login p {
        font-size: 14px;
    }

    #div_img_login {
        display: none;
    }
    #div_campos .campo input {
        width: 50vw;
    }
    #botao_login button {
        min-width: 30vw;
        font-size: 11px;
    }
}

