/* .header {} */

.corpo {
    display: flex;
    /* talvez precise mudar */
    /* padding-top: 5rem; */
    justify-content: space-around;
    align-items: center;
}

#div_img_login img {
    width: min(650px, 40vw);
}

.moldura {
    background-color: #d8c4ec;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.destaque_txt {
    font-size: 190%;
    font-weight: 450;
    margin-bottom: 1.5rem;
}

#campo1_login {
    margin-bottom: 1.5rem;
}

#botao_login {
    margin-top: 0.5rem;
}