/* MUDAR CONFORME A PAG */
.menu-lateral .navbar ul a:nth-child(7) {
    color: var(--corForte);
}

.menu-lateral .navbar ul a:nth-child(7) li {
    background-color: var(--corSecundaria);
}

/* ---------------TIRAR A MARCAÇÃO DOS OUTROS------------ */

.menu-lateral .navbar ul a:nth-child(4) {
    color: var(--corLetraMenu);
}

.menu-lateral .navbar ul a:nth-child(4) li {
    background-color: var(--corPrincipal);
}

.menu-lateral .navbar ul a:nth-child(5) {
    color: var(--corLetraMenu);
}

.menu-lateral .navbar ul a:nth-child(5) li {
    background-color: var(--corPrincipal);
}

.menu-lateral .navbar ul a:hover {
    color: var(--corForte);
}

/* --------------------------- */
.aplicacao {
    padding: 0px 10px 10px 40px;
    /* background-color: aqua; */
}

/* ---------------NÃO SEI AINDA------------ */

.passo:nth-child(1) {
    margin-top: 35px;
}
.passo {
    max-width: 40vw; 
    margin-top: 25px;
    padding: 1.9vh 2vw 1vh 2vw;
    background-color: #E4CBFD;
    border-radius: 0.4vw;
    height: 120px;
}

#div_bloco_funciona {
    display: flex;
    flex-direction: row;

}

#div_funciona {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 0;
}

#div_img_funciona img {
    width: min(650px, 40vw);
    margin-left: 5vw;
}

#div_bloco_funciona {
    flex-direction: column;
    padding: 15px 2px;
    align-items: flex-start;
}

#div_destaque_txt_funciona b {
    font-size: var(--tamanhoLetraDestaque);
    font-weight: 600;
}

#div_txt_funciona h3 {
    margin-bottom: 15px;
}
#div_txt_funciona p {
    font-size: min(26px, 30vh);
    font-weight: 200;
    margin-left: 1.5vw;
}

#container_passos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* align-items: center; */
}

#div_img_numeros img {
    margin: 35px 5px;
    height: 77%;
}

.destaque_txt_2 b {
    color: #6B0CC5;
    font-size: min(18px, 30vh);
}


#div_texto_passo p {
    font-weight: 400;
    font-size: min(15px, 30vh);
}

