/* VARIAVEIS */
:root {
    --letraMenu: 1rem;
    --corLetraMenu: black;
    --corPrincipal: #D8C4EC;
    --corSecundaria: #F3EBFA;
    --corForte: #812FCD;
    --tamanhoIcones: 1.5rem;
}

/* MUDAR CONFORME A PAG */
.menu-lateral .navbar ul a:nth-child(6) {
    color: var(--corForte);
}

.menu-lateral .navbar ul a:nth-child(6) li {
    background-color: var(--corSecundaria);
}

/* ---------------TIRAR A MARCAÇÃO DOS OUTROS------------ */

.menu-lateral .navbar ul a:nth-child(4) {
    color: var(--corLetraMenu);
}

.menu-lateral .navbar ul a:nth-child(4) li {
    background-color: var(--corPrincipal);
}

.menu-lateral .navbar ul a:nth-child(5) {
    color: var(--corLetraMenu);
}

.menu-lateral .navbar ul a:nth-child(5) li {
    background-color: var(--corPrincipal);
}

.menu-lateral .navbar ul a:hover {
    color: var(--corForte);
}
/* --------------------------- */

.configuracoes  {
    padding: 10px 10px 0px 40px;
}

.configuracoes .abas nav {
    margin-top: 20px;
}

.configuracoes .abas nav a {
    display: inline-block;
    padding: 8px 15px;
    /* margin: -0.2%; */
    text-decoration: none;
    font-weight: 500;
}

.configuracoes .abas div {
    /* width: 84%; */
    display: none;
    border-top: 1px solid #812FCD;
    margin-top: -1px;
    /* height: 512px; */
}

.configuracoes .abas div:target {
    display: block;
}

.configuracoes .abas nav a.focus,
.configuracoes.abas nav a:focus {
    background: white;
    /* border-bottom: 1px solid; */
    color: black;
}


#aba2{
    background: yellow;
    padding: 1%;
}

/* --------------------------- */