/* VARIAVEIS */
:root {
    --letraMenu: 1rem;
    --corLetraMenu: black;
    --corPrincipal: #D8C4EC;
    --corSecundaria: #F3EBFA;
    --corForte: #812FCD;
    --tamanhoIcones: 1.5rem;
}

/* MUDAR CONFORME A PAG */
.menu-lateral .navbar ul a:nth-child(6) {
    color: var(--corForte);
}

.menu-lateral .navbar ul a:nth-child(6) li {
    background-color: var(--corSecundaria);
}

/* ---------------TIRAR A MARCAÇÃO DOS OUTROS------------ */

.menu-lateral .navbar ul a:nth-child(4) {
    color: var(--corLetraMenu);
}

.menu-lateral .navbar ul a:nth-child(4) li {
    background-color: var(--corPrincipal);
}

.menu-lateral .navbar ul a:nth-child(5) {
    color: var(--corLetraMenu);
}

.menu-lateral .navbar ul a:nth-child(5) li {
    background-color: var(--corPrincipal);
}

.menu-lateral .navbar ul a:hover {
    color: var(--corForte);
}

/* --------------------------- */

.configuracoes {
    padding: 10px 10px 10px 40px;
}

.configuracoes .abas nav {
    margin-top: 20px;
    display: flex;
}


.configuracoes .abas nav a {
    display: inline-block;
    padding: 8px 15px;
    text-decoration: none;
    font-weight: 500;
    color: var(--letraMenu);
}

/* quando clico na opcao entra a classe focus */
.configuracoes .abas nav a.focus,
.configuracoes.abas nav a:focus {
    background: white;
    border-top: solid 1px var(--corForte);
    border-left: solid 1px var(--corForte);
    border-right: solid 1px var(--corForte);
    color: var(--corForte);
}

.configuracoes .abas section {
    display: none;
    border-top: 1px solid #812FCD;
    margin-top: -1px;
}

.configuracoes .abas section:target {
    display: block;
}


.configuracoes #caixa_lista{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 30px;
    background-color: var(--caixa);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
}

.configuracoes #caixa_lista #infos_principais{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.configuracoes #caixa_lista #infos_principais h3{
    color: black;
    font-weight: var(--letraMedia);
}


.configuracoes #caixa_lista #linha{ 
    display: flex;
    flex-direction: row;
}

.configuracoes #caixa_lista #linha #titulo { 
    font-weight: var(--letraRegular);
    width: 180px;
    text-align: center;
    /* background-color: #812FCD; */
    margin: 0px 5px
}

.configuracoes #caixa_lista #linha #dado{ 
    font-weight: var(--letraRegular);
    width: 180px;
    text-align: center;
    /* background-color: #812FCD; */
    margin: 0px 5px
}

#aba1{
}
/* .aba2 {
    padding: 0% 0%;
    height: 450px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
  
}

.aba2 .teste {
    background-color: tomato;
    margin-top: 5%;

}

#aba2 .caixa{
}  */

/* --------------------------- */