* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

/* VARIAVEIS DE LETRAS */
:root {
    --letraMenu: 1rem;
    --corLetraMenu: black;
    --corPrincipal: #D8C4EC;
    --corSecundaria: #F3EBFA;
    --corForte: #812FCD;
    --tamanhoIcones: 1.5rem;
    --caixa: #FFFFFF;

    /* para usar no font-weigth */
    --letraLight: 300;
    --letraRegular: 400;
    --letraMedia: 500;
    --letraSemiBold: 600;
}

body {
    background-color: var(--corSecundaria);
    overflow-x: hidden;
    min-height: 100vh;
}

.menu-lateral {
    position: relative;
    width: 100%;
}

.menu-lateral .navbar {
    position: fixed;
    width: 215px;
    height: 100%;
    box-shadow: 0px 0px 6px 2px rgba(54, 54, 54, 0.5);
    background-color: var(--corPrincipal);
    border-left: 10px solid var(--corPrincipal);
    transition: 0.5s;
    overflow: hidden;
}

.imagem_logo {
    width: 190px;
    transition: all 0.6s;
}

.menu-lateral .navbar ul a:nth-child(2) li {
    padding-top: 90px;
  }

  .menu-lateral .navbar ul a:nth-child(3) li {
    padding-top: 30px;

  }

  #tracinho{
    border-bottom: 0.6px solid black;
    margin-top: 10px;
    margin-bottom: 5px;
  }

/* QUANDO CLICA NO MENU SANDUICHE add classe ATIVADO na navbar---------------------*/
.menu-lateral .navbar.ativado {
    width: 70px;
}
.imagem_logo.ativado{
    width: 55px;   
}
.menu-lateral .navbar.ativado ul a:nth-child(2) li {
    padding-top: 20px;
  }

.menu-lateral .navbar ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 20px;
}

.menu-lateral .navbar ul a li {
    position: relative;
    display: block;
    width: 95%;
    display: flex;
    list-style: none;
    border-radius: 10px;
    /* border-top-left-radius: 15px; */
}

/* tirando o hover e qualquer tipo de função do nomeUsuario */
.menu-lateral .navbar ul a:nth-child(1) {
    margin-bottom: 1000px;
    pointer-events: none;
}

.menu-lateral .navbar ul a:nth-child(2) {
    margin-bottom: 1000px;
    pointer-events: none;
}

/* MUDAR CONFORME A PAG */
.menu-lateral .navbar ul a:nth-child(5) {
    color: var(--corForte);
}

.menu-lateral .navbar ul a:nth-child(5) li{
    background-color: var(--corSecundaria);
}
/* --------------------------- */

.menu-lateral .navbar ul a {
    position: relative;
    width: 100%;
    text-decoration: none;
    color: var(--corLetraMenu);
    font-weight: 300;
}

.menu-lateral .navbar ul a:hover {
    color: var(--corForte);
}

/* .menu-lateral .navbar ul a:hover li{
    background-color: var(--corSecundaria);
} */

.menu-lateral .navbar ul a li .icone-menu {
    position: relative;
    display: block;
    min-width: 50px;
    height: 50px;
    line-height: 60px;
    text-align: center;
}

.menu-lateral .navbar ul a li .icone-menu i {
    font-size: var(--tamanhoIcones);
}

.menu-lateral .navbar ul a li .item-menu {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 50px;
    line-height: 60px;
    text-align: start;
}

/* CONTEUDO dashboard */
.conteudo {
    position: absolute;
    /* o -215px e 215 é o tamanho do menu lateral */
    width: calc(100% -215px);
    left: 215px;
    min-height: 100vh;
    transition: 0.5s;
}

/* QUANDO CLICA NO MENU SANDUICHE add classe ATIVADO no conteudo*/
.conteudo.ativado {
    /* o -70px é o tamanho do menu lateral */
    left: 70px;
    width: calc(100% -70px);
}

.conteudo .menu-sanduiche {
    width: 100%;
    height: 40px;
    padding: 0 10px;
}

.conteudo .menu-sanduiche .abre-fecha-menu {
    position: relative;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    cursor: pointer;
}

.dashboard {
    padding: 0px 10px 10px 40px;
    /* background-color: aqua; */
}

.dashboard .caixas {
    display: flex;
    flex-direction: row;

}

/* caixa de computadores */
.dashboard .caixas .caixa_computadores {
    margin: 5px;
    background-color: var(--caixa);
    width: 255px;
    box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.5);
    padding: 15px;
}

.dashboard .caixas .caixa_computadores p{
    font-weight: var(--letraRegular);
    font-size: 14px;
    text-align: center;
}

.dashboard .caixas .caixa_computadores div{
    margin: 15px 5px;
    font-weight: var(--letraSemiBold);
    font-size: 20px;
    text-align: center;
}

/* caixa de legenda */
.dashboard .caixas .caixa_legenda_geral {
    margin: 5px;
    background-color: var(--caixa);
    width: 344px;
    box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.5);
    padding: 15px;
    text-align: center;
}

.dashboard .caixas .caixa_legenda_geral p{
    font-weight: var(--letraRegular);
    font-size: 14px;
    text-align: center;
}

.dashboard .caixas .caixa_legenda_geral #caixinha{
 
    margin: 8px 5px;
    font-weight: var(--letraSemiBold);
    font-size: 20px;
    text-align: center;
}

.dashboard .caixas .caixa_legenda_geral #caixinha #legenda{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px 5px;
    font-weight: var(--letraSemiBold);
    font-size: 20px;
    text-align: center;
}
.dashboard .caixas .caixa_legenda_geral #caixinha #legenda div{
    width: 50px;
    height: 25px;
    margin-right: 5px;
}


/* caixa de resumo ultimos 7 dias */
.dashboard .caixas .caixa_ultimos_7_dias {
    margin: 5px;
    background-color: var(--caixa);
    width: 344px;
    box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.5);
    padding: 15px;
    text-align: center;
}

.dashboard .caixas .caixa_ultimos_7_dias h3{
    font-weight: var(--letraRegular);
    font-size: 14px;
    text-align: center;
}

.dashboard .caixas .caixa_ultimos_7_dias #caixinha{
    margin: 8px 5px;
    font-weight: var(--letraSemiBold);
    font-size: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.dashboard .caixas .caixa_ultimos_7_dias #caixinha #legenda{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px 5px;
    font-weight: var(--letraRegular);
    font-size: 20px;
    text-align: center;
}
.dashboard .caixas .caixa_ultimos_7_dias #caixinha #legenda div{
    width: 50px;
    height: 25px;
    margin-right: 5px;
    padding: 6px;
}

/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */
.dashboard #caixa_lista{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    padding: 25px 30px 15px 30px;
    background-color: var(--caixa);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
}

.dashboard #caixa_lista #infos_principais{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dashboard #caixa_lista #infos_principais #legenda{  
    display: flex;
    flex-direction: column;
    text-align: center;
}

.dashboard #caixa_lista #infos_principais #legenda #caixinha{  
    display: flex;
    flex-direction: row;
    font-size: 14px;
    font-weight: var(--letraLight);
}

.dashboard #caixa_lista #infos_principais #legenda h3{
    font-size: 15px;
}


.dashboard #caixa_lista #infos_principais h3{
    color: black;
    font-weight: var(--letraMedia);
}


.dashboard #caixa_lista #linha{ 
    display: flex;
    flex-direction: row;
}

.dashboard #caixa_lista #linha #titulo { 
    font-weight: var(--letraRegular);
    width: 200px;
    text-align: center;
    /* background-color: #812FCD; */
    margin: 0px 5px
}

.dashboard #caixa_lista #linha #dado_status{ 
    font-weight: var(--letraRegular);
    width: 200px;
    text-align: center;
    /* background-color: #812FCD; */
    margin: 0px 5px
}

.dashboard #caixa_lista #linha #dado_idComputador{ 
    font-weight: var(--letraRegular);
    width: 200px;
    text-align: center;
    /* background-color: #812FCD; */
    margin: 0px 5px
}

.dashboard #caixa_lista #linha #dado_nomeFuncionario{ 
    font-weight: var(--letraRegular);
    width: 200px;
    text-align: center;
    /* background-color: #812FCD; */
    margin: 0px 5px
}

.dashboard #caixa_lista #linha #ver_desempenho{ 
    font-weight: var(--letraRegular);
    width: 190px;
    text-align: center;
    /* background-color: #812FCD; */
    margin: 0px 5px
}


@media only screen and (max-width: 900px) {
    .menu-lateral .navbar {
        left: -215px;
    }

    .menu-lateral .navbar.ativado {
        width: 215px;
        left: 0;
    }

    .conteudo {
        width: 100%;
        left: 0;
    }

    .conteudo.ativado {
        left: 215px;
    }

    .dashboard .caixas {
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 480px) {

    .menu-lateral .navbar{
        width: 100%;
        left: -100%;
        z-index: 1000;
    }

    .menu-lateral .navbar.ativado {
        width: 215px;
        left: 0;
    }

    .conteudo .menu-sanduiche .abre-fecha-menu{
        z-index: 10001;
    }

    .conteudo.ativado .menu-sanduiche .abre-fecha-menu{
        color: red;
    }
}