/* VARIAVEIS */
:root {
    --letraMenu: 1rem;
    --corLetraMenu: black;
    --corPrincipal: #D8C4EC;
    --corSecundaria: #F3EBFA;
    --corForte: #812FCD;
 
    --caixaAlertaAtencao: #DEE148;
    --caixaAlertaCritico: #D95F58;
    --caiaAlertaOtimo: #77D33E;
}
/* MUDAR CONFORME A PAG */
.menu-lateral .navbar ul a:nth-child(4) {
    color: var(--corForte);
}

.menu-lateral .navbar ul a:nth-child(4) li{
    background-color: var(--corSecundaria);
}
/* ---------------TIRAR A MARCAÇÃO DOS OUTROS------------ */

.menu-lateral .navbar ul a:nth-child(3) {
    color: var(--corLetraMenu);
}

.menu-lateral .navbar ul a:nth-child(3) li{
    background-color: var(--corPrincipal);
}

.menu-lateral .navbar ul a:nth-child(5) {
    color: var(--corLetraMenu);
}

.menu-lateral .navbar ul a:nth-child(5) li{
    background-color: var(--corPrincipal);
}

.menu-lateral .navbar ul a:hover {
    color: var(--corForte);
}
/* --------------------------- */

.home {
    padding: 0px 10px 10px 40px;
    /* background-color: aqua; */
}

.home .caixas {
    display: flex;
    flex-direction: row;

}

.home .caixas #caixa {
    margin: 5px;
    background-color: var(--caixa);
    width: 240px;
    box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.5);
    padding: 15px;

}

.h3{
    text-align: center;
}
.home .caixas #caixa p{
    font-weight: var(--letraRegular);
    font-size: 14px;
    text-align: center;
}

.home .caixas #caixa #dado_computadores_cadastrados{
    margin: 15px 5px;
    font-weight: var(--letraSemiBold);
    font-size: 20px;
    text-align: center;
}

.home .caixas #caixa #dado_funcionarios_cadastrados{
    margin: 15px 5px;
    font-weight: var(--letraSemiBold);
    font-size: 20px;
    text-align: center;
}

.home .caixas #caixa #dado_computadores_em_uso{
    margin: 15px 5px;
    font-weight: var(--letraSemiBold);
    font-size: 20px;
    text-align: center;
}

.home .caixas #caixa #dado_resumo_5dias{
    margin: 15px 5px;
    font-weight: var(--letraSemiBold);
    font-size: 20px;
    text-align: center;
}

.home .caixas #caixa a{
   text-decoration: none;
   color: var(--corLetraMenu);
}

.home .caixas #caixa button{
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    padding: 4px;
    width: 110px;
    font-weight: var(--letraMedia);
    background-color: var(--corForte);
    color: var(--caixa);
    border-radius: 5px;
    border: 0.04;
    display: block;
    margin: 0 auto;
    transition: all 0.5s;
}
/* VERRRRR */
.home .caixas #caixa button:hover{
    background-color: var(--corPrincipal);
    color: var(--corLetraMenu);
    cursor: pointer;
}

.home #caixa #caixinha{  
    display: flex;
    flex-direction: row;   
    justify-content: center; 
}

.home #caixa #caixinha div{  
    margin: 5px 2px 2px 2px; 
}

.home #caixa #caixinha div p{
    text-align: center;  
    font-size: 14px;
    margin-top: 12px;
}
.home #caixa_lista{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    padding: 25px 30px 15px 30px;
    background-color: var(--caixa);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
}

.home #caixa_lista #infos_principais{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ------------------------------------------------------------- */
.home #caixa_lista #infos_principais #legenda{  
    display: flex;
    flex-direction: column;
    text-align: center;
}

.home #caixa_lista #infos_principais #legenda #caixinha{  
    display: flex;
    flex-direction: row;
}

.home #caixa_lista #infos_principais #legenda h3{
    font-size: 15px;
    margin-bottom: 2px;
}

.home #caixa_lista #infos_principais #legenda #caixinha{
    font-size: 14px;
    font-weight: var(--letraLight);
}
.home #caixa_lista #infos_principais #legenda #caixinha_dados_parametros{
    font-size: 13px;
    display: flex;
    justify-content: space-between;
}
/* ------------------------------------------------------------- */

.home #caixa_lista #infos_principais h3{
    color: black;
    font-weight: var(--letraMedia);
}


.home #caixa_lista #linha{ 
    display: flex;
    flex-direction: row;
}

.home #caixa_lista #linha #titulo { 
    font-weight: var(--letraRegular);
    width: 200px;
    text-align: center;
    /* background-color: #812FCD; */
    margin: 0px 5px
}

.home #caixa_lista #linha #dado_status{ 
    font-weight: var(--letraRegular);
    width: 200px;
    text-align: center;
    /* background-color: #812FCD; */
    margin: 0px 5px
}

.home #caixa_lista #linha #dado_idComputador{ 
    font-weight: var(--letraRegular);
    width: 200px;
    text-align: center;
    /* background-color: #812FCD; */
    margin: 0px 5px
}

.home #caixa_lista #linha #dado_nomeFuncionario{ 
    font-weight: var(--letraRegular);
    width: 200px;
    text-align: center;
    /* background-color: #812FCD; */
    margin: 0px 5px
}

.home #caixa_lista #linha #ver_desempenho{ 
    font-weight: var(--letraRegular);
    width: 190px;
    text-align: center;
    /* background-color: #812FCD; */
    margin: 0px 5px
}

.home #caixa_observacoes{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    padding: 30px;
    background-color: var(--caixa);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
}

.home #caixa_observacoes #titulo_observacoes{ 
    display: flex;
    justify-content: space-between;
}

.home #caixa_observacoes #titulo_observacoes h3{
    color: black;
    font-weight: var(--letraMedia);
    margin-bottom: 10px;
}

.home #caixa_observacoes .observacoes_alertas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

/*----------- CAIXA ALERTAS--------*/
.home .observacoes_alertas #caixa_alerta{
    margin: 5px;
    width: 240px;
    box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.5);
    padding: 15px;

}

.home .observacoes_alertas #caixa_alerta b{
    font-size: 16px;
    text-align: center;
    display: block;
}

.home .observacoes_alertas #caixa_alerta div{
    margin: 15px 5px;
    font-size: 15px;
    text-align: center;
    font-weight: var(--letraMedia);
}

.home .observacoes_alertas #caixa_alerta a{
    text-decoration: none;
}

.home .observacoes_alertas #caixa_alerta button{
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    padding:  6px;
    font-weight: var(--letraMedia);
    background-color: #e7e2ed;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
    transition: all 0.5s;
}

.home .observacoes_alertas #caixa_alerta button:hover{
 cursor: pointer;
 background-color: #D8C4EC;
}


