* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

/* VARIAVEIS DE LETRAS */
:root {
    --letraMenu: 1rem;
    --corLetraMenu: black;
    --corPrincipal: #D8C4EC;
    --corSecundaria: #F3EBFA;
    --corForte: #812FCD;
    --tamanhoIcones: 1.5rem;
    --caixa: #ffffffe7;

    /* para usar no font-weigth */
    --letraLight: 300;
    --letraRegular: 400;
    --letraMedia: 500;
    --letraSemiBold: 600;

    /*  CORES CAIXAS DE ALERTAS*/
    --caixaAlertaAtencao: #DEE148;
    --caixaAlertaCritico: #D95F58;
    --caiaAlertaOtimo: #77D33E;
}

body {
    background-color: var(--corSecundaria);
    overflow-x: hidden;
    min-height: 100vh;
}

.menu-lateral {
    position: relative;
    width: 100%;
}

.menu-lateral .navbar {
    position: fixed;
    width: 215px;
    height: 100%;
    box-shadow: 0px 0px 6px 2px rgba(54, 54, 54, 0.5);
    background-color: var(--corPrincipal);
    border-left: 10px solid var(--corPrincipal);
    transition: 0.5s;
    overflow: hidden;
}

.imagem_logo {
    width: 190px;
    transition: all 0.6s;
}

.menu-lateral .navbar ul a:nth-child(2) li {
    padding-top: 90px;
  }

  .menu-lateral .navbar ul a:nth-child(3) li {
    padding-top: 30px;

  }

  #tracinho{
    border-bottom: 0.6px solid black;
    margin-top: 10px;
    margin-bottom: 3px;
  }

/* QUANDO CLICA NO MENU SANDUICHE add classe ATIVADO na navbar---------------------*/
.menu-lateral .navbar.ativado {
    width: 70px;
}
.imagem_logo.ativado{
    width: 55px;   
}
.menu-lateral .navbar.ativado ul a:nth-child(2) li {
    padding-top: 20px;
  }

.menu-lateral .navbar ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 20px;
}

.menu-lateral .navbar ul a li {
    position: relative;
    display: block;
    width: 95%;
    display: flex;
    list-style: none;
    border-radius: 10px;
}

/* tirando o hover e qualquer tipo de função do nomeUsuario */
.menu-lateral .navbar ul a:nth-child(1) {
    margin-bottom: 1000px;
    pointer-events: none;
}

.menu-lateral .navbar ul a:nth-child(2) {
    margin-bottom: 1000px;
    pointer-events: none;
}

/* MUDAR CONFORME A PAG */
.menu-lateral .navbar ul a:nth-child(4) {
    color: var(--corForte);
}

.menu-lateral .navbar ul a:nth-child(4) li{
    background-color: var(--corSecundaria);
}
/* --------------------------- */

.menu-lateral .navbar ul a {
    position: relative;
    width: 100%;
    text-decoration: none;
    color: var(--corLetraMenu);
    font-weight: 300;
}

.menu-lateral .navbar ul a:hover {
    color: var(--corForte);
}

/* .menu-lateral .navbar ul a:hover li{
    background-color: var(--corSecundaria);
} */

.menu-lateral .navbar ul a li .icone-menu {
    position: relative;
    display: block;
    min-width: 50px;
    height: 50px;
    line-height: 60px;
    text-align: center;
}

.menu-lateral .navbar ul a li .icone-menu i {
    font-size: var(--tamanhoIcones);
}

.menu-lateral .navbar ul a li .item-menu {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 50px;
    line-height: 60px;
    text-align: start;
}

/* CONTEUDO dashboard */
.conteudo {
    position: absolute;
    /* o -215px e 215 é o tamanho do menu lateral */
    width: calc(100% -215px);
    left: 215px;
    min-height: 100vh;
    transition: 0.5s;
}

/* QUANDO CLICA NO MENU SANDUICHE add classe ATIVADO no conteudo*/
.conteudo.ativado {
    /* o -70px é o tamanho do menu lateral */
    left: 70px;
    width: calc(100% -70px);
}

.conteudo .menu-sanduiche {
    width: 82vw;
    height: 40px;
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.conteudo .menu-sanduiche .titulo_pagina{
    margin-left: 10px;
}


.conteudo .menu-sanduiche .abre-fecha-menu {
    position: relative;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    cursor: pointer;
}

.relatorio {
    padding: 0px 10px 10px 40px;
}

.titulo_pagina{
    margin-left: 40px;
}

.relatorio .caixas {
    display: flex;
    flex-direction: row;
}

/* caixa de computadores */
.relatorio .caixas .caixa_computadores {
    margin: 5px;
    background-color: var(--caixa);
    width: 21vw;
    box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.5);
    padding: 10px 15px;
}

.relatorio .caixas .caixa_computadores p{
    margin-top: 5px;
    font-weight: var(--letraRegular);
    font-size: 14px;
    text-align: center;
}

.relatorio .caixas .caixa_computadores div{
    margin: 15px 5px;
    font-weight: var(--letraSemiBold);
    font-size: 20px;
    text-align: center;
}

/* caixa de legenda */
.relatorio .caixas .caixa_legenda_geral {
    margin: 5px;
    background-color: var(--caixa);
    width: 25vw;
    box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.5);
    padding: 15px 20px 10px 20px;
    padding: 10px 15px;

    text-align: center;
}

.relatorio .caixas .caixa_legenda_geral p{
    font-weight: var(--letraRegular);
    font-size: 14px;
    text-align: center;
}

.relatorio .caixas .caixa_legenda_geral #caixinha{
 
    margin: 10px 5px;
    font-weight: var(--letraSemiBold);
    font-size: 20px;
    text-align: center;
}

.relatorio .caixas .caixa_legenda_geral #caixinha #legenda{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 15px 5px;
    font-weight: var(--letraSemiBold);
    font-size: 20px;
    text-align: center;
}
.relatorio .caixas .caixa_legenda_geral #caixinha #legenda div{
    width: 50px;
    height: 25px;
    margin-right: 10px;
}


/* caixa de resumo ultimos 7 dias */
.relatorio .caixas .caixa_ultimos_7_dias {
    margin: 5px;
    background-color: var(--caixa);
    width: 23vw;
    box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.5);
    padding: 20px 20px 10px 20px;
    text-align: center;
}

.relatorio .caixas .caixa_ultimos_7_dias h3{
    font-weight: var(--letraRegular);
    font-size: 14px;
    text-align: center;
}

.relatorio .caixas .caixa_ultimos_7_dias #caixinha{
    margin: 8px 5px;
    font-weight: var(--letraSemiBold);
    font-size: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.relatorio .caixas .caixa_ultimos_7_dias #caixinha #legenda{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px 5px;
    font-weight: var(--letraRegular);
    font-size: 20px;
    text-align: center;
}
.relatorio .caixas .caixa_ultimos_7_dias #caixinha #legenda div{
    width: 50px;
    height: 20px;
    margin-right: 5px;
    padding: 6px;
}

/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */
.relatorio #caixa_lista{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    padding: 25px 45px 15px 45px;
    background-color: var(--caixa);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
    overflow-y:auto;
    max-height: 27vw;
}

.relatorio #caixa_lista #infos_principais{ 
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.relatorio #caixa_lista #infos_principais #legenda{  
    display: flex;
    flex-direction: column;
    text-align: center;
}

.relatorio #caixa_lista #infos_principais #legenda #caixinha{  
    display: flex;
    flex-direction: row;
    font-size: 14px;
    font-weight: var(--letraLight);
}

.relatorio #caixa_lista #infos_principais #legenda h3{
    font-size: 15px;
}

.relatorio #caixa_lista #infos_principais #legenda #resumo_com_incidentes{
    font-size: 15px;
    margin-right: 10px;
    margin-left: 10px;
}

.relatorio #caixa_lista #infos_principais #legenda #resumo_sem_incidentes{
    font-size: 15px;
    margin-right: 10px;
    margin-left: 10px;

}

.relatorio #caixa_lista #infos_principais #legenda #resumo_inativos{
    font-size: 15px;
    margin-right: 10px;
    margin-left: 10px;

}

.relatorio #caixa_lista{
    width: 71vw;
}
.relatorio #caixa_lista #infos_principais h3{
    color: black;
    font-weight: var(--letraMedia);
}


.relatorio #caixa_lista #linha{ 
    display: flex;
    flex-direction: row;
}

.relatorio #caixa_lista #linha #titulo:nth-child(1) { 
    font-weight: var(--letraRegular);
    width: 11vw;
    text-align: center;
    margin: 0px 5px
}

/* .relatorio #caixa_lista #linha #titulo:nth-child(2) { 
    font-weight: var(--letraRegular);
    width: 10vw;
    text-align: center;
    /* background-color: #812FCD; */
    /* margin: 0px 5px */


.relatorio #caixa_lista #linha #titulo { 
    font-weight: var(--letraRegular);
    width: 12vw;
    text-align: center;
    /* background-color: #812FCD; */
    margin: 0px 5px
}

.relatorio #caixa_lista #linha #dado_status{ 
    font-weight: var(--letraRegular);
    width: 11vw;
    text-align: center;
    /* background-color: #812FCD; */
    margin: 0px 5px
}

.relatorio #caixa_lista #linha #dado_horario{ 
    font-weight: var(--letraRegular);
    width: 12vw;
    text-align: center;
    /* background-color: #812FCD; */
    margin: 0px 5px
}

.relatorio #caixa_lista #linha #dado_idComputador{ 
    font-weight: var(--letraRegular);
    width: 12vw;
    text-align: center;
    /* background-color: #812FCD; */
    margin: 0px 5px
}

.relatorio #caixa_lista #linha #dado_macAddress {
    font-weight: var(--letraRegular);
    font-size: 15px;
    width: 12vw;
    text-align: center;
    /* background-color: #812FCD; */
    margin: 0px 5px
}

.relatorio #caixa_lista #linha #dado_nomeFuncionario{ 
    font-weight: var(--letraRegular);
    width: 12vw;
    text-align: center;
    /* background-color: #812FCD; */
    margin: 0px 5px
}

.relatorio #caixa_lista #linha #ver_dashboard{ 
    font-weight: var(--letraRegular);
    width: 12vw;
    text-align: center;
    /* background-color: #812FCD; */
    margin: 0px 5px
}

.relatorio #caixa_lista #linha #ver_dashboard a{ 
    color: var(--corForte);
}

