body{
    background-color: #F3EBFA;
    font-family: 'Poppins', sans-serif;
}


#div_destaque_txt_servicos{
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 10px;
    margin: 50px 0px 30px 0px;
}

#div_cards_servicos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 20px;
    margin: 50px 200px 10px 200px;
    /* padding: 0px 90px 0px 90px; */
    font-size: 20px;
    font-weight: 200;
    text-align: center;
}

.card{
    margin: 5px;
    padding: 40px;
    width: 250px;
    height: 290px;
    border-radius: 20px;
    box-shadow:  2px 2px 10px #bdb0cc;
    background-color: #E9DEF4; 
}

.card :hover{
    scale: ;
}
.img_card img{
    margin: 20px;
}

#div_txt_servicos{
    text-align: center;
    line-height: 35px;
    font-size: 18px;
    margin: 20px 220px 20px 220px;
    font-weight: 400;
}

.txt_card{
    font-weight: 300;
    font-size: 15px;
    line-height: 30px;
}
